@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat", system-ui, sans-serif;
        font-weight: 400;
    }
    @font-face {
        font-family: "Oswald";
        src: url("../public/assets/fonts/oswald.ttf") format("truetype");
    }

    @font-face {
        font-family: "Montserrat";
        src: url("../public/assets/fonts/montserrat.ttf") format("truetype");
    }

    @font-face {
        font-family: "Source Sans";
        src: url("../public/assets/fonts/source-sans-3.ttf") format("truetype");
    }
}

.color-picker {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.color-info {
    margin-top: 20px;
}